<!-- Files -->
<div class="container" ng-if="pm.files.length">
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-info">
				<i class="fa fa-cloud" aria-hidden="true"></i> Here is a list of uploaded files. Download link is currently <strong>not supported</strong>.
			</div>
		</div>
	</div>
	<div class="row" ng-repeat="file in pm.files">
		<file-view file="file" download-file="pm.downloadFile(file)" />
	</div>
</div>

<!-- No files -->
<div class="container" ng-if="!pm.files.length">
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-info">
				<i class="fa fa-info-circle" aria-hidden="true"></i> There are no files currently.
			</div>
		</div>
	</div>
</div>

<!-- Return -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				<a class="btn btn-danger" ng-click="pm.goBack()">
					<i class="fa fa-hand-o-left" aria-hidden="true"></i> BACK
				</a>
			</p>
		</div>
	</div>
</div>
